* {margin: 0;padding: 0;}
/*body {font: 1.5em Verdana, Sans-Serif;background: #eee;width: 100%;overflow:hidden;}*/
.pass {
	font-size: 35px;
	text-align: center;
	width: 10vw !important;
	height: 10vw !important;
	line-height: 10vw !important;
	float: left;
	/*margin-left: 1%;*/
	border:1px solid #ccc;
	
	padding:0;
}

.btn_next {
	margin-top: 30px;
	width: 100%;
	height: 40px;
	background: #0099FF;
}

/*.btn_next:hover {
	background: coral;
}*/

#password {
	font: 2em Verdana, Sans-Serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#keyboardDIV {
	overflow: hidden;
	background: #fff;
	margin-top: 3vw;
	width: 100vw;
}
#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100vw;
	height: 51vw;
	overflow: hidden;
}

#keyboard li {
	float: left;
	width: calc(100vw / 3);
	height: calc(51vw / 4);
	line-height: 14vw;
	text-align: center;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
#keyboard .btn_number_ {
	border-right: 1px solid #ccc;
}
#keyboard li span {
	font-size: 6vw;
	/*font-weight: bold;*/
}
.delete {
	background: #e5e5e5;;
}
.cancle {
	background: #e5e5e5;
}
